@media (min-width: 320px) and (max-width: 767px) {
  .inner-page-banner {
    min-height: 130px !important;
    padding: 37px 0px !important;
  }
  .inner-page-banner h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .inner-page-banner ul li {
    font-size: 12px;
    margin: 0px 0px;
  }
  .inner-page-banner ul li a {
    font-size: 13px;
    line-height: 30px;
    margin: 0px 4px;
  }
  /* Blog section css */
  .blog-section {
    padding-bottom: 0px;
  }
  .blog-heading {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .blog-detail-box {
    padding: 10px 15px;
  }
  .blog-detail-box ul {
    margin-bottom: 10px;
  }
  .blog-detail-box ul li {
    font-size: 11px;
    margin-right: 8px;
  }
  .blog-detail-box ul li i {
    font-size: 14px;
  }
  .blog-detail-box h5 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 22px;
  }
  .blog-detail-box p {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
  }
  .detail-page-box p {
    margin: 7px 0px 10px;
  }
  .blog-detail-box button {
    width: 95px;
    height: 35px;
    font-size: 11px;
    margin: 10px 0px 10px;
    border-radius: 3px;
  }
  .featured-blog h2 {
    font-size: 17px;
    line-height: 15px;
  }
  .feature-box-detail {
    padding: 15px;
    width: 100%;
    max-height: unset;
  }
  .blog-links a {
    display: block;
    margin-bottom: 20px;
  }

  .feature-box-detail ul {
    margin-bottom: 10px;
  }
  .feature-box-detail ul li {
    font-size: 11px;
    margin-right: 10px;
  }
  .feature-box-detail a {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .feature-box-detail p {
    font-size: 12px;
    line-height: 20px;
  }
  .blog-links {
    margin: 20px 0px 0px;
  }
  .link-detail {
    padding: 15px;
  }
  .link-detail ul li i {
    font-size: 13px;
    margin-right: 2px;
  }
  .link-detail ul li {
    font-size: 11px;
    margin-right: 7px;
  }
  .link-detail ul {
    margin-bottom: 5px;
  }
  .link-detail h5 {
    font-size: 13px;
    line-height: 20px;
  }
  /* Blog detail */
  .program-detail h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .program-detail h6 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .program-detail ul li {
    font-size: 12px !important;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 5px;
  }
  .blog-paging a {
    background: #ffffff;
    padding: 15px;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px !important;
    text-align: left !important;
  }
  .blog-paging a:hover {
    background: #ffffff !important;
    color: #071e57 !important;
  }
  .blog-paging a:hover i {
    color: #ff9c00 !important;
  }
  .blog-paging a span {
    width: 87%;
    margin: 0px 5px;
    text-align: center;
  }
  .commment-form {
    padding: 15px;
    margin-bottom: 20px;
  }
  .commment-form h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .commment-form label {
    font-size: 12px;
  }
  .commment-form input {
    height: 36px;
    border-radius: 3px;
    font-size: 11px;
    padding: 0px 10px;
  }
  .commment-form .form-group {
    margin-bottom: 5px;
  }
  .commment-form textarea {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .commment-form button {
    width: 125px;
    height: 35px;
    border-radius: 3px;
    font-size: 11px;
    margin: 15px auto 10px;
    display: block;
  }
  .comment-box {
    padding: 15px;
    margin-bottom: 20px;
  }
  .comment-box h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .comment-box ul li img {
    margin-right: 0px;
    width: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
  }
  .comment-detail {
    width: auto;
  }
  .comment-detail a {
    font-size: 14px;
    line-height: 22px;
  }
  .comment-detail span {
    font-size: 12px;
    line-height: 20px;
  }
  .comment-detail .reply-comment {
    margin: -10px 0px 0px;
    font-size: 12px;
    line-height: 26px;
  }
  .comment-detail p {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0px;
    text-align: justify;
  }
  .comment-box ul li {
    margin-bottom: 5px;
  }
  .replyForm input {
    font-size: 12px;
  }
  .replyForm button {
    font-size: 12px;
  }
  /* Blog right css */
  .search-box {
    margin: 0px 0px 20px;
  }
  .blog-categories h5 {
    font-size: 17px;
  }
  .blog-categories ul li::before {
    font-size: 17px;
  }
  .blog-categories ul li {
    margin-bottom: 4px;
  }
  .blog-categories ul li a {
    font-size: 13px;
  }
  .recent-posts img {
    width: 60px;
    margin-right: 5px;
  }
  .recent-blog-title a {
    font-size: 13px !important;
    margin: 4px 0px !important;
  }
  .recent-blog-title {
    width: 65%;
    margin-top: -5px;
  }
  .blog-categories h5 img {
    margin-bottom: 10px;
  }
  .recent-posts ul li {
    padding: 10px 0px 10px;
  }
  .search-box input {
    padding: 0px 16px;
  }
  .search-box .search-icon {
    font-size: 17px;
    right: 12px;
    top: 15px;
  }
  .blog-tags a {
    font-size: 11px;
    padding: 5px 7px;
  }
  /* Footer Css */
  .footer-section {
    padding-top: 25px;
    border-bottom: 0px;
    margin-top: 25px;
  }
  .address ul {
    text-align: center;
  }
  .address ul li {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  .address i {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 0px !important;
  }
  .address span {
    display: inline !important;
  }
  .address ul li a {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .address ul li a img {
    width: 35%;
  }
  .footer-app,
  .quick-links {
    display: none;
  }
  .footer-section h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .join-us {
    margin-left: 0px;
  }
  .join-us ul {
    text-align: center;
    margin-bottom: 0px;
  }
  .join-us ul li a {
    width: 25px;
    height: 25px;
    font-size: 13px;
    padding: 2px 0px;
  }
  .copyright-section {
    padding: 10px 0px;
    text-align: center;
  }
  .copyright-section .row {
    flex-direction: column-reverse;
  }
  .terms ul {
    text-align: center;
    margin: 5px 0px;
  }
  .terms ul li {
    margin: 0px 5px !important;
  }
  .terms ul li a {
    font-size: 12px;
  }

  .copyright-left p {
    font-size: 12px !important;
    line-height: 20px;
  }
  /* End Footer Css */
  /* news css */
  .news-section {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .news-box {
    margin-bottom: 20px;
  }
  .news-box img {
    width: 100%;
  }
  .news-detail-box {
    padding: 15px;
  }
  .news-detail-box h5 {
    font-size: 15px;
    line-height: 22px;
  }
  .news-detail-box ul li {
    font-size: 12px;
    margin-right: 10px;
  }
  .news-detail-box ul {
    margin-top: 5px;
  }
  .news-detail-box ul li i {
    font-size: 13px;
    margin-right: 2px;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  .blog-feature-box img {
    width: 100%;
  }
  .blog-links img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .inner-page-banner {
    min-height: 140px;
    padding: 35px 0px;
  }
  .inner-page-banner h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .inner-page-banner ul li {
    font-size: 14px;
    margin: 0px 2px;
  }
  .inner-page-banner ul li a {
    font-size: 14px;
  }
  /* Blog section css */
  .blog-section {
    padding-bottom: 15px;
  }
  .blog-heading {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .blog-detail-box {
    padding: 10px 15px;
  }
  .blog-detail-box ul {
    margin-bottom: 10px;
  }
  .blog-detail-box ul li {
    font-size: 11px;
    margin-right: 8px;
  }
  .blog-detail-box ul li i {
    font-size: 14px;
  }
  .blog-detail-box h5 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .detail-page-box p {
    margin: 5px 0px 10px;
  }
  .program-detail h6 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .program-detail ul li {
    font-size: 12px !important;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .blog-paging a {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .comment-box {
    padding: 15px;
    margin-bottom: 20px;
  }
  .comment-box h5 {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .program-detail h4 {
    font-size: 15px;
    line-height: 20px;
  }
  .blog-detail-box p {
    font-size: 12px;
    line-height: 20px;
  }
  .blog-detail-box button {
    width: 95px;
    height: 35px;
    font-size: 11px;
    margin: 10px 0px 10px;
    border-radius: 3px;
  }
  .featured-blog h2 {
    font-size: 17px;
    line-height: 15px;
  }
  .blog-feature-box img {
    width: 100%;
  }
  .feature-box-detail {
    padding: 15px;
    width: 100%;
    max-height: unset;
  }
  .blog-links a {
    display: block;
    margin-bottom: 20px;
  }
  .blog-links img {
    width: 100%;
  }
  .feature-box-detail ul {
    margin-bottom: 10px;
  }
  .feature-box-detail ul li {
    font-size: 11px;
    margin-right: 10px;
  }
  .feature-box-detail a {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .feature-box-detail p {
    font-size: 12px;
    line-height: 20px;
  }
  .blog-links {
    margin: 20px 0px 0px;
  }
  .link-detail {
    padding: 15px;
  }
  .link-detail ul li i {
    font-size: 13px;
    margin-right: 2px;
  }
  .link-detail ul li {
    font-size: 11px;
    margin-right: 7px;
  }
  .link-detail ul {
    margin-bottom: 5px;
  }
  .link-detail h5 {
    font-size: 13px;
    line-height: 20px;
  }
  .comment-box ul li img {
    margin-right: 0px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .comment-detail a {
    font-size: 14px;
  }
  .comment-detail span {
    font-size: 12px;
  }
  .comment-detail .reply-comment {
    font-size: 13px;
    line-height: 20px;
  }
  .comment-detail p {
    font-size: 13px;
    padding: 5px 0px;
  }
  .comment-detail {
    width: auto;
  }
  .comment-box ul li {
    margin-bottom: 10px;
  }
  .commment-form {
    padding: 15px;
    margin-bottom: 35px;
  }
  .commment-form h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .commment-form input,
  .commment-form textarea {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 8px;
  }
  .commment-form button {
    width: 125px;
    height: 38px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    margin: 5px auto 10px;
    display: block;
  }
  .replyForm button {
    font-size: 13px;
  }
  .replyForm input {
    font-size: 12px;
  }
  /* Blog right css */
  .search-box {
    margin: 35px 0px 20px;
  }
  .blog-categories h5 {
    font-size: 17px;
  }
  .blog-categories ul li::before {
    font-size: 17px;
  }
  .blog-categories ul li {
    margin-bottom: 4px;
  }
  .blog-categories ul li a {
    font-size: 13px;
  }
  .recent-posts img {
    width: 65px;
    margin-right: 5px;
  }
  .recent-blog-title a {
    font-size: 13px !important;
    margin: 4px 0px !important;
  }
  .recent-blog-title {
    width: 65%;
    margin-top: -5px;
  }
  .blog-categories h5 img {
    margin-bottom: 10px;
  }
  .recent-posts ul li {
    padding: 10px 0px 10px;
  }
  .search-box input {
    padding: 0px 16px;
  }
  .search-box .search-icon {
    font-size: 17px;
    right: 12px;
    top: 15px;
  }
  .blog-tags a {
    font-size: 11px;
    padding: 5px 7px;
  }
  /* Footer Css */
  .footer-section {
    padding-top: 30px;
  }
  .address ul li {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .address ul li a {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .address i {
    font-size: 14px;
    margin-top: 4px !important;
  }
  .footer-section h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .quick-links ul li {
    margin-bottom: 0px;
  }
  .quick-links ul li a {
    font-size: 12px;
  }
  .join-us,
  .footer-app {
    margin-left: 0px;
  }
  .join-us ul {
    margin-bottom: 10px;
  }
  .join-us ul li {
    margin-right: 0px !important;
  }
  .join-us ul li a {
    width: 25px;
    height: 25px;
    font-size: 13px;
    padding: 2px 0px;
  }
  .footer-app p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .app-store-btn {
    margin: 0px !important;
    max-width: 70px !important;
  }
  .copyright-section {
    padding: 10px 0px;
    text-align: center;
  }
  .copyright-section {
    padding: 10px 0px;
    text-align: center;
  }
  .copyright-section .row {
    font-size: 12px !important;
    flex-direction: column-reverse;
  }
  .terms ul {
    text-align: center;
    margin-bottom: 5px;
  }
  .terms ul li {
    margin-left: 15px;
  }
  .copyright-section p,
  .terms ul li a {
    font-size: 12px;
  }
  /* End Footer Css */
  /* news css */
  .news-section {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .news-box {
    margin-bottom: 20px;
  }
  .news-box img {
    width: 100%;
  }
  .news-detail-box {
    padding: 15px;
  }
  .news-detail-box h5 {
    font-size: 15px;
    line-height: 22px;
  }
  .news-detail-box ul li {
    font-size: 12px;
    margin-right: 10px;
  }
  .news-detail-box ul {
    margin-top: 5px;
  }
  .news-detail-box ul li i {
    font-size: 13px;
    margin-right: 2px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
}
@media (min-width: 993px) and (max-width: 1199px) {
  /* Blog section css */
  .blog-section {
    padding-bottom: 25px;
  }
  .blog-heading {
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .blog-detail-box {
    padding: 15px 20px;
  }
  .blog-detail-box ul li {
    font-size: 12px;
    margin-right: 15px;
  }
  .blog-detail-box ul li i {
    font-size: 14px;
  }
  .blog-detail-box h5 {
    font-size: 17px;
    line-height: 20px;
    color: #071e57;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .blog-detail-box p {
    font-size: 13px;
    line-height: 20px;
  }
  .blog-detail-box button {
    width: 110px;
    height: 37px;
    font-size: 12px;
    margin: 15px 0px 10px;
  }
  .featured-blog h2 {
    font-size: 19px;
    line-height: 20px;
  }
  .feature-box-detail {
    padding: 10px;
    width: 60%;
  }
  .feature-box-detail ul {
    margin-bottom: 10px;
  }
  .feature-box-detail ul li {
    font-size: 11px;
    margin-right: 10px;
  }
  .feature-box-detail a {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .feature-box-detail p {
    font-size: 12px;
    line-height: 20px;
  }
  .blog-links {
    margin: 20px 0px;
  }
  .link-detail {
    padding: 10px;
  }
  .link-detail ul li i {
    font-size: 13px;
    margin-right: 2px;
  }
  .link-detail ul li {
    font-size: 11px;
    margin-right: 7px;
  }
  .link-detail ul {
    margin-bottom: 5px;
  }
  .link-detail h5 {
    font-size: 13px;
    line-height: 20px;
  }
  .blog-paging a {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .blog-paging a span {
    width: 87%;
  }
  .program-detail ul li {
    font-size: 13px !important;
  }
  .comment-detail {
    width: 82%;
  }
  /* Blog right css */
  .search-box {
    margin: 35px 0px 20px;
  }
  .blog-categories ul li::before {
    font-size: 17px;
  }
  .blog-categories ul li {
    margin-bottom: 4px;
  }
  .blog-categories ul li a {
    font-size: 13px;
  }
  .recent-posts img {
    width: 70px;
    margin-right: 5px;
  }
  .recent-blog-title a {
    font-size: 13px !important;
    margin: 4px 0px !important;
  }
  .recent-blog-title {
    width: 65%;
    margin-top: -5px;
  }
  .blog-categories h5 img {
    margin-bottom: 10px;
  }
  .recent-posts ul li {
    padding: 10px 0px 10px;
  }
  .search-box input {
    padding: 0px 16px;
  }
  .search-box .search-icon {
    font-size: 17px;
    right: 12px;
    top: 15px;
  }
  .blog-tags a {
    font-size: 11px;
    padding: 5px 7px;
  }
  /* Footer Css */
  .footer-section .address ul li {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .footer-section .address ul li a {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .footer-app,
  .join-us {
    margin-left: 0px;
  }

  .join-us ul li a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .join-us p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .app-store-btn {
    margin: 5px 5px 5px 0px;
    max-width: 95px;
  }

  .footer-section h5 {
    font-size: 16px;
  }
  .quick-links ul li {
    margin-bottom: 10px;
  }
  .quick-links ul li a {
    font-size: 13px;
  }
  .footer-app p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .copyright-section {
    padding: 25px 0px;
  }
  .copyright-section .copyright-left p {
    font-size: 13px;
    line-height: 23px;
    color: #405461;
    font-weight: 500;
  }
  .terms ul li {
    margin-left: 20px;
  }
  .terms ul li a {
    font-size: 13px;
  }
  /* End Footer Css */
  /* news css */
  .news-section {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .news-detail-box h5 {
    font-size: 15px;
    line-height: 24px;
  }
  .news-detail-box ul li {
    margin-right: 5px;
  }
  .news-detail-box {
    padding: 20px;
  }
  .news-detail-box ul li i {
    font-size: 14px;
    margin-right: 3px;
  }
}
