/* Header CSS */
.header-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
}
.header-section {
  height: 76.4px;
  background-color: #fff;
}
.fixed-top {
  background-color: #fff !important;
}
.navbar {
  padding-bottom: 0 !important;
  padding-top: 0;
}
.menu-right-responsive {
  display: none !important;
}
.header-section .navbar .navbar-collapse ul li a {
  font-size: 15px;
  color: #405461;
  font-weight: 400;
  cursor: pointer;
  padding: 27px 20px;
  transition: all 0.3s ease-in-out;
}
.header-section .navbar .navbar-collapse ul li a:hover {
  color: #ff9c00;
}
.get-started-btn {
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  border-radius: 22px;
  background-color: #ff9c00;
  padding: 10px 26px;
  border: 0px !important;
  cursor: pointer;
  margin-left: 5px;
}
.get-started-btn:focus {
  outline: 0px;
}
.menu-right li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 3px;
  font-size: 15px;
  color: #405461 !important;
}
.menu-right li a {
  font-size: 15px;
  color: #405461;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding: 27px 20px;
  transition: all 0.3s ease-in-out;
}
.menu-right li .dropdown-menu {
  min-width: 100%;
  top: 50px;
}
.menu-right li a img {
  margin-right: 8px;
  vertical-align: text-top;
}
.menu-right li a:hover {
  color: #405461 !important;
}
/* .menu-right li a::after {
  display: none !important;
} */
.menu-right li .dropdown-menu a {
  font-size: 15px;
  color: #405461 !important;
  font-weight: 400;
  cursor: pointer;
  padding: 5px 10px !important;
}
.menu-right li a i {
  margin: 0px 5px;
  font-size: 12px;
}
.menu-right li a .fa-phone {
  transform: rotate(90deg) !important;
  font-size: 15px;
}
.menu-right li a:hover i {
  color: #ff9c00 !important;
}
.active {
  color: #ff9c00 !important;
}
@media (min-width: 992px) and (max-width: 2000px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    animation-name: fadeFromBottom;
    -webkit-animation-name: fadeFromBottom;
    animation-duration: 150ms;
    -webkit-animation-duration: 150ms;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}
@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    display: block;
  }
}
/* End Header Css */
@media (min-width: 992px) and (max-width: 1124px) {
  .header-section {
    height: 69.2px;
  }
  .header-section .navbar .navbar-collapse ul li a {
    font-size: 13px;
    padding: 25px 15px;
  }
  .menu-right li a .fa-phone {
    font-size: 13px;
  }
  .menu-right li {
    margin: 0px;
  }
  .get-started-btn {
    font-size: 13px;
    height: 40px;
    border-radius: 22px;
    padding: 5px 20px;
    margin-left: 0px;
  }
}
@media (min-width: 1125px) and (max-width: 1294px) {
  .header-section {
    height: 72.8px;
  }
  .header-section .navbar .navbar-collapse ul li a {
    font-size: 14px;
    padding: 26px 15px;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
  .header-section {
    height: 47.5px;
  }
  .navbar {
    padding: 0px 10px;
    min-height: 47.5px;
  }
  .navbar-brand {
    margin-right: auto;
    width: 80px;
  }
  .navbar-brand img {
    width: 37.5px;
    margin-bottom: 5px;
  }
  .header-section .navbar .navbar-collapse ul li a {
    padding: 11px 15px !important;
  }
  .menu-right,
  .get-started-btn {
    display: none !important;
  }
  .menu-right-responsive {
    display: block !important;
    margin: 0px 10px 6px;
  }
  .menu-right ul li .btn-get-started {
    color: #fff !important;
    font-weight: 500;
    font-size: 12px !important;
    height: 30px !important;
    padding: 0px 12px !important;
    border-radius: 22px;
    margin-left: 5px;
    background-color: #ff9c00;
    transition: 0.3s ease-in-out;
  }
  .menu-right li .dropdown-menu {
    min-width: 100%;
    top: 20px;
  }
  .menu-right ul li {
    margin: 0px;
  }
  .menu-right-responsive ul li a {
    font-size: 12px !important;
    padding: 0px;
    font-weight: 500;
  }
  .menu-right-responsive ul li a img {
    margin-right: 5px;
  }
  .navbar-collapse {
    width: 320px;
    position: absolute;
    top: 0px;
    left: -100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    -webkit-animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
      slide-right;
    animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both slide-right;
    transition: ease-in-out 0.3s;
    display: block;
    box-shadow: 0px 18px 51px 0px rgba(48, 52, 51, 0.08);
  }
  .menuResponsive {
    background-color: #fff;
    height: 100%;
    padding-top: 10px !important;
    position: fixed;
    z-index: 9999999;
    width: 320px;
    transition: ease-in-out 300ms;
    overflow-y: hidden;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding-bottom: 100% !important;
  }
  .menuResponsive-opener {
    display: block;
    cursor: pointer;
    padding: 0px;
    margin-top: -5px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2px;
    background-color: #071e57 !important;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
  }
  .navbar-collapse.show {
    left: 0;
    background-color: #fff;
  }
  .menuResponsive.opened {
    padding-top: 0px !important;
    left: 0px !important;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: ease-in-out 400ms;
  }
}
/* Bars */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-6px, 5px);
  width: 20px;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  width: 20px;
}
